@charset "UTF-8";

@import url(font.css);
@import url(icon.css);

/*--------------------------------------
    PAGES
---------------------------------------*/
/* Layout */
#wrap{width: 100%; overflow: hidden;}
.container{max-width: 1280px;margin: 0 auto;padding: 0 35px;}
.container-xl{max-width: 1590px;}

/* header */
#header{position: fixed;top: 0;left: 0;right: 0;z-index: 100;height: 92px;}
.header_top{height: 32px;background: rgba(0,0,0,.6);color: #fff;}


.t_list{height: 3ht5px;line-height: 35px; display: flex; justify-content: space-between;font-size: 12px; font-weight: 600;}
.t_list > li > span{margin-right: 10px;}

.t_right{display: flex;}
.t_right .blue{color: #428ed4;transition: all 0.2s;}
.t_right .blue:hover{text-decoration: underline;}
.down{vertical-align: middle;}
.login:hover{color: #428ed4;} .login{transition: all 0.2s;}

.languages{position: relative; transition: all 0.2s;}
.languages:hover{color: #428ed4;}
.languages_list{display: none; width: 100px; background-color: #fff; color: #222;text-align: center; border-radius: 5px;
position: absolute; right: -10px;top: 27px;}

/*----/// header top*/

/* nav */
body.is-scroll #header{backdrop-filter:blur(10px);;}
.navbar:hover{background: #000}
.gnb{font-size: 0;}
.gnb>li{display: inline-block;}
.gnb>li.current>.depth{display: block} /* 물어보기*/
.gnb>li>a{display: block;height: 60px;padding: 0 15px;font-size: 16px;font-weight: 700;line-height: 60px;color: #fff;transition: all 0.3s;}
.gnb>li>a:hover{color:#4ca4f5;}
.depth{display: none;position: absolute;top: 100%;left: 0;width: 100%;padding: 30px 0 40px;border-bottom:1px solid #e0e0e0;font-size: 16px;background:#f6f7f8}
.depth>.container{overflow: hidden}


.container_depth{display: flex; flex-direction: row;}
/* .depth_left */
.depth_left{margin-right: 40px;width: 290px;padding-left: 30px;}
.sub_left{ }
.sub_left h2{font-size: 24px;margin-bottom: 10px; color: #117ce9;}
.sub_left p{font-size: 13px; color: #888; line-height: 2;}

/* .depth_right */
.depth_right{}
.sub_wrap{display: flex; justify-content:flex-start;width: 920px;}
.sub_wrap>ul{box-sizing: border-box; width: calc(100% / 3);padding: 0 20px;}
.sub_wrap >ul> li {border-top: 1px solid #ddd; font-weight: 600; font-size: 16px;padding: 20px 0;}
.sub_wrap>ul>li>a{display: block;}
.sub_wrap>ul>li:hover a{color: #117ce9;}
.sub_wrap >ul> li:last-child{margin-bottom: 100px;}
.sub_wrap >ul>li> .depth_right_list>a{display: block; font-size: 14px; font-weight: 300;line-height: 1.5;padding-top: 10px; color: inherit;}
.sub_wrap >ul>li> .depth_right_list>a:hover{color: #117ce9;}

/*depth2_left*/
.depth2_title>li>a{display: block; color: #000;}

/* 색깔고정되어있는거 물어보기 */
.depth2_title>li>a.first{color: #117ce9;}

.depth2_title{ /* overflow-y: scroll; */font-size: 14px;line-height: 2;padding-left: 10px;}
.depth2_left{}
.depth2_left_wrap{width: 220px; padding-left:20px; margin-right: 32px;}
.depth2_list >li >h2{ margin-bottom: 20px;}

.depth2_list_h2>li>h2:hover{color: #117ce9;}

/* 타이틀 호버 */
.depth2_title>li:hover a{color: #117ce9;}



/* depth2_right */
.depth2_right{ width: 998px; }
.depth2_list>li>h2>a{display: block;}

.depth2_sub_list{display: flex; justify-content: space-between;}

.depth2_sub_list>ul{width: calc(100% / 3); }
.depth2_sub_list>ul:nth-child(2){margin: 0 10px;}
.depth2_sub_list>ul:nth-child(1) li.sub_bottom_size{padding-bottom: 33px;}
.depth2_sub_list>ul:nth-child(2) li.sub_bottom_size{padding-bottom: 33px;}
.depth2_sub_list>ul:nth-child(2) li.sub_bottom_size2{padding-bottom:53px;}
.depth2_sub_list>ul:nth-child(3) li.sub_bottom_size{padding-bottom: 33px;}
.depth2_sub_list>ul>li{ border-top: 1px solid #ddd; padding: 12px 0; line-height: 1.5;}
.depth2_sub_list>ul>li p{letter-spacing: -0.5px; font-size: 14px; color: #666;}
.depth2_sub_list>ul>li p.p_txt{font-size: 13px; font-weight: 600;}
.depth2_sub_list>ul>li p.p_txt2{font-size: 16px; font-weight: 600; color: #333;}
.depth2_sub_list>ul>li p.p_1{color: rgb(24, 140, 252);}
.depth2_sub_list>ul>li p.p_2{color: rgb(114, 137, 189);}
.depth2_sub_list>ul>li p.p_3{color: rgb(71, 101, 179);}
.depth2_sub_list>ul>li p.p_4{color: rgb(98, 106, 115);}
.depth2_sub_list>ul>li p.p_5{color: rgb(240, 147, 50);}
.depth2_sub_list>ul>li:hover p.p_txt2{color: #117ce9;}


.depth2_list>li:not(.current){display: none;}
.depth2_list>li.hover{display: block !important;}
.logo img{display: block;height: 32px;}


/*파란 btn*/
.menu_blue{display: block; width: 200px;height: 50px;line-height: 50px;text-align: center;font-weight: bold;font-size: 15px; border-radius: 10px; background-color: #117ce9;margin-top: 30px;color: white;}
.menu_blue:hover{background-color: #0f6dcd;color: #fff;}
/* update */
.up{
    display: inline-block; width: 45px;height: 16px;line-height: 16px;margin-left: 10px;
    background-color: #4bbf4d;;border-radius: 10px; font-size: 10px;color: white;font-weight: 500;text-align: center;letter-spacing: 0.5px;
}
.new{
    display: inline-block;width: 35px;height: 16px;line-height: 16px;margin-left: 10px;
    background-color: #f54e41;border-radius: 10px; font-size: 10px;color: white;font-weight: 500;text-align: center;letter-spacing: 0.5px;
}

/* 돋보기, 문의하기,콘솔 */
.gnb_right{display: flex;align-items: center;}
.gnb_right >a{display: block; margin-left: 10px; width: 90px;height: 30px; line-height: 30px;text-align: center;font-size: 12px; font-weight: bold; border-radius: 5px;
transition: all 0.3s;}
.gnb_right >a:hover{background-color: #4ca4f5; color: #fff;}
.b_r_1{}
.b_r_2{border: 1px solid #fff; color: #fff;transition: all 0.3s;}
.b_r_2:hover{ border: 1px solid #4ca4f5; }
.b_r_3{background-color: #fff; color: #555;}
.b_r_2 img{vertical-align: middle;}

/* content */
#section{padding-top:92px;}

/* main */
.section1{width: 100%;}
#section.main{padding-top:0; }
.main_visual{position: relative; width: 100%; height: 720px;}
.main_visual video{display: block;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;}

.main_visual_text{position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);
                font-size: 40px; line-height: 1; text-align: center; color: #fff;}
.main_visual_text p{font-size: 20px; padding: 20px 0;}
.main_visual_btn{width: 140px;height: 44px; background: #fff; color: #111; font-size: 14px;font-weight: bold;
    line-height: 1.47; padding: 13px 33px;border-radius: 100px; transition: all 0.3s;}
.main_visual_btn:hover{background-color: #0f6dcd; color: #fff;}

/* 스와이프 */
.main_visual_video .swiper-pagination-bullet span{color: white;font-weight: bold;display: block; padding: 10px 60px 0 0;}
.main_visual_video .swiper-pagination-bullet{
    position: relative;bottom: 20px;width: 200px ;height: 66px ;border-radius: 20px ;margin-bottom: 30px ;transition: all 0.2s ;opacity: 1 ;
}
.main_visual_video .swiper-pagination-bullet:nth-child(1) {
    background: url(../img/main_banner_list_img03.png) no-repeat ;
    background-size:cover ;
    left: -10px;
}
.main_visual_video .swiper-pagination-bullet:nth-child(2) {
    background: url(../img/main_banner_list_img01.png) no-repeat ;
    background-size:cover ;
    left: 0;
}
.main_visual_video .swiper-pagination-bullet:nth-child(3) {
    background: url(../img/main_banner_list_img02.png) no-repeat ;
    background-size:cover ;
    left: 10px;
}

.main_visual_video .swiper-pagination-bullet-active{
    padding-top: 10px;
    border: 2px solid #fff;
}

/* section2 */
/* block_container */

.section2{padding: 50px 0;}
.section2_container{position: relative;}
.h3{font-size: 32px; margin-bottom: 50px;}
.section2_container>.container{position: relative;}

.section2 .container .swiper{overflow: visible;}

.banner_wrap{position: relative;}
.swiper-wrapper{}
.swiper-slide img {display: block;width: 100%;height: 100%;object-fit: cover;}
.banner_img{/* border: 5px solid #000; */
    width: 413px !important;border-radius: 20px;overflow: hidden;}
.banner_img_main{width: 846px !important;}
.banner_img > a{position: relative;}
.swiper_title{position: absolute; left: 0;top: 0; padding: 40px 30px; color: #fff;}
.swiper_title .swiper_title_span{font-size: 16px;font-weight: 600;line-height: 1.5}
.swiper_title h5{ margin-top: 10px;font-size: 24px;}
.swiper_link{position: absolute; bottom: 0;left: 0; padding: 40px 30px; color: #fff;}

.swiper-button-prev:hover,
.swiper-button-next:hover {background-color: #0f6dcd;}
.swiper-button-prev,
.swiper-button-next {width: 40px ;height: 40px ;background-color: #222;border-radius: 50%;color: #fff ;transition: all 0.2s;}
.section2_container .section2_next,
.section2_container .section2_prev {position: absolute;z-index: 10 !important;}
.section2_container .section2_prev{left: 90.5% !important;top: 22px !important;}
.section2_container .section2_next{top: 22px !important;left: 94%;}
.swiper-button-prev:after,
.swiper-button-next:after {font-size: 1.1rem !important;font-weight: 600 !important;}



/* section3 */


.section3{background-color: #f6f7f8; padding: 50px 0;}
.section3 .container .swiper_icon{overflow: visible;}
.section3>.icon_container>.container{position: relative;}
.icon_container_title{display: flex; justify-content: space-between;}
.icon_container_title .section_btn{margin-right: 130px;}
.title_container{}

.section3 .icon_container .swiper_wrapper11 .swiper-slide{width: 166px !important;height: 160px !important;box-sizing: border-box; text-align: center;}
.section3 .icon_container .swiper-slide-thumb-active{border-bottom: 4px solid #0f6dcd; color: #0f6dcd;}
.swiper_wrapper11 .icon_card span{font-weight: bold; font-size: 18px;transition: all 0.2s ease-in-out;}
.swiper_wrapper11 .icon_card:hover span{color: #0f6dcd;}
.icon_card .icon_card_img {width: 100% ;height: 108px; display: flex; justify-content: center; align-items: center;}
.icon_card .icon_card_img img{width: 54px; height: 54px}
.icon_container .swiper_icon .swiper-slide-thumb-active {opacity: 1;}


.mySwiper2 {height: 80%;width: 100%;}
.swiper_icon_list{display: flex; justify-content: space-between; margin-top: 20px;}
.swiper-slide >.swiper_icon_list> .swiper_icon_list_left{
    position: relative; width: 305px ;height: 472px;padding: 60px 30px;overflow: hidden;border-radius: 20px;box-sizing: border-box;}
.swiper_icon_list_left h5{font-size: 32px;text-align: center;color: #fff;}
.swiper_icon_list_left img{position: absolute;bottom: 0;left: 0;height: 312px;}
.swiper_icon_list_right{position: relative;width: 955px;height: 472px;padding: 30px 40px; box-sizing: border-box;border-radius: 20px;}
.swiper_icon_list_right>p{ margin-bottom: 30px; font-size: 20px;font-weight: 700;}
.text_no{text-indent: -9999px;}

.swiper_icon_list_right_inner{width: 100%;height: 350px;padding: 30px 40px;border-radius: 20px;box-sizing: border-box;background-color: rgba(255, 255, 255, 0.5);}
.right_inner2{height: 330px;}
.swiper_icon_list_right_inner_list{width: 100%;}
.swiper_icon_list_right_inner_list>ul{width: 437.5px;}
.swiper_icon_list_right_inner .depth2_sub_list>ul>li{padding: 0 0 12px 0;}
.swiper_icon_list_right_inner_list>ul>li{border: none;}
.swiper_icon_list_right_inner_list>ul>li>a>p{font-size: 15px; font-weight: 500;}
.swiper_icon_list_right_inner_list>ul>li>a>.p_txt2{font-size: 18px;}

.icon_list_right_btn{position: absolute; right: 40px; top: 20px;}

.section3 .icon_container .section3_next:hover,
.section3 .icon_container .section3_prev:hover{background-color: #0f6dcd; border: 1px solid #0f6dcd;}
.section3 .icon_container .section3_next,
.section3 .icon_container .section3_prev{position: absolute; left: 96.5%;top: 25px;width: 40px ;height: 40px ;border: 1px solid #222;border-radius: 50%;background-color: #222;color: #fff ;}
.section3 .icon_container .section3_prev{left: 92.5%;}

/*section4*/
.section4{padding: 50px 0;}
.section4 .container .solution{overflow: visible;}
.section4_container>.container{position: relative;}
.solution .solution_slide{overflow: hidden;position: relative;width: 300px !important;height: 300px; padding: 30px; box-sizing: border-box;border: 1px solid #ededed; border-radius: 30px; transition: all 0.2s ease-out;}
.solution_card_txt h5{font-size: 24px; margin-bottom: 10px;}
.solution_card_txt span{font-size: 16px;}
.solution_card_img{position: absolute;bottom: 0;right: 0px; width: 250px !important;}
.solution .solution_slide img{width: 250px;}
.solution .card1:hover {background-color: #13416a; color: #fff;}
.solution .card2:hover {background-color: #32405c; color: #fff;}
.solution .card3:hover {background-color: #033972; color: #fff;}
.solution .card4:hover {background-color: #004065; color: #fff;}
.solution .card5:hover {background-color: #0F2446; color: #fff;}
.solution .card6:hover {background-color: #3c048f; color: #fff;}
.solution .card7:hover {background-color: #0e3a40; color: #fff;}
.solution .card8:hover {background-color: #12245a; color: #fff;}

.section4_container .section4_next,
.section4_container .section4_prev{position: absolute;}
.section4_container .section4_prev{left: 90.5% !important;top: 22px !important;}
.section4_container .section4_next{left: 94% !important;top: 22px !important;}

/* section5 */
.section5{padding: 50px 0; background-color: #f6f7f8;}
.section5_inner{display: flex;justify-content: space-between;}
.content{display: inline-block; position: relative;  width: calc(100% / 3 - 20px); height: 140px; box-sizing: border-box; border: 1px solid #ededed;  border-radius: 20px;}
.content span{font-size: 14px;}
.content h5{margin-top: 4px;font-size: 20px; font-weight: 700; }
.promotions{background-color: #023a73;}
.promotions:hover .content_bg{opacity: 1;}
.news{background-color: #2f77e2; }
.news:hover .content_bg{opacity: 1;}
.event{background-color: #fff; transition: all 0.3s;}
.event:hover{ background-color: rgba(34,34,34,.25);}
.content_bg{opacity: 0; display: block; background-color: rgba(0, 0, 0, 0.5);width: 100%;height: 100%; border-radius: 20px;position: absolute;left: 0;top: 0;transition: all 0.3s;}
.content_txt{box-sizing: border-box; width: 100%; height: 100%; padding: 30px; position: absolute ;left: 0;top: 0; z-index: 10; }

/* section6 */
.section6{padding: 50px 0;}
.section6_container .container{position: relative;}
.section6 .container .solution_1{overflow: visible;}
.section6_container .section6_next,
.section6_container .section6_prev{position: absolute;}
.section6_container .section6_prev{left: 90.5% !important;top: 22px !important;}
.section6_container .section6_next{left: 94% !important;top: 22px !important;}
.client_slide{border: 1px solid #ededed;width: 300px !important;position: relative;  border-radius: 30px;transition: all 0.2s ease-out;}
.client .client_slide{padding: 0;}
.card_img{ height: 150px; border-bottom:1px solid #ededed; display: flex; justify-content: center;align-items: center;}
.client .card_img img{width: 200px;height: 60px; object-fit: contain;}
.card_txt{padding: 20px;}
.card_txt p{margin-bottom: 30px;font-size: 16px; font-weight: 600; line-height: 1.5;}
.card_txt span.line{border-right: 1px solid #ddd;padding-right: 10px; margin-right: 5px;}
.card_txt span{font-size: 15px; font-weight: 600; line-height: 1.47; color: #707070;}
.card_txt span.yellogreen{color: #00d25a;}
.client_slide:hover{border: 1px solid #117ce9;}

/* section7 */
.section7{padding: 50px 0; background-color: #f6f7f8;}
.section7_inner{display: flex;justify-content: space-between;}
.event:hover .content_bg{opacity: 1;}
.section7 img{width: 100%;height: 100%; border-radius: 20px;position: absolute;left: 0;top: 0;}


/* section8 */

.section8{width: 100%;}
.section8_background{width: 100%; background: url(../img/last_footer_img.png) no-repeat; background-size: cover;background-position: 100% ,50%;}
.section8_container{padding: 77px 35px;}
.section8_background h3{font-size: 28px; line-height: 1.36; color: #fff; margin-bottom: 30px;}


/* footer */
#footer{ background: #222;color: #9e9e9e;}

.sns{display: flex; justify-content: space-between; border-bottom: 1px solid #333; padding: 30px 0;}
.ncloud_new{display: flex; justify-content: end; align-items: center; gap: 50px;}
.footer_btn{background-color: inherit; border: 1px solid #666; border-radius: 10px; color: #fff; position: relative;}
.footer_btn:hover{background-color: #4ca4f5;border: 1px solid #4ca4f5; cursor: pointer;}
.footer_btn img{vertical-align: middle;}
.footer_btn .languages_list{display: none; background-color: #fff; width: 140px; right: 0; top: -155px;}
.footer_btn .languages_list li{height: 40px; padding-top: 10px;}
.footer_menu{padding: 40px 0; border-bottom: 1px solid #333;}
.footer_menu>ul{display: flex; justify-content: start; gap: 150px;}
.footer_menu>ul>li{color: #fff; line-height: 3;}

.footer_sub{}
.footer_sub li{line-height: 1.8;}
.footer_sub li a{display: block; color: #aaa;font-size: 14px; font-weight: 400;}
.footer_sub li:hover a{color: #4ca4f5;}


.footer_list{padding: 20px 0;}
.footer_top{display: flex;justify-content: space-between; align-items: center;}
.top_left{display: flex; justify-content: start; align-items: center; gap: 20px;}
.logo a{display: block; font-size: 24px; font-weight: bold;}
.logo:hover a{color: #fff;}
.footer_top_list span{border-right: 1px solid #9e9e9e; padding-right: 10px; margin-right: 5px;font-size: 12px;}
.footer_top_list span:hover{color: #4ca4f5;}
.footer_top_list span:last-child{border-right: none;}

.footer_bottom{font-size: 12px; line-height: 1.5;}
.footer_bottom_list span:nth-child(2){border-right: 1px solid #9e9e9e; border-left: 1px solid #9e9e9e;padding: 0 5px 0 5px;}
.footer_bottom_list span{margin-right: 5px;}

/* 반응형 */

@media screen and (max-width:1259px){
.section2_container .section2_next,
.section2_container .section2_prev{display: none;}
.banner_img{width: 300px !important;height: 333px;}
.section3 .icon_container .section3_next,
.section3 .icon_container .section3_prev{display: none;}
.icon_container_title .section_btn{margin-right: 0px;}
.section4_container .section4_next,
.section4_container .section4_prev{display: none;}
.section6_container .section6_next,
.section6_container .section6_prev{display: none;}
}